<div class="banner">
    <img src="assets/homePic.jpg" alt="courses logo website">
</div>

<mat-divider></mat-divider>
<div class="sen" style="padding-left: 43vw !important;" >statistics</div>

<div class="dashboard-container">
    <mat-card class="stat-card">
        <h1>Active Courses</h1>
        <h2>12</h2>
        <div>📕</div>
    </mat-card>

    <mat-card class="stat-card">
        <h1>Registered Users</h1>
        <h2>345</h2>
        <div>👥</div>
    </mat-card> 

    <mat-card class="stat-card">
        <h1>New Lessons</h1>
        <h2>5</h2>
        <div>👩‍🏫</div>
    </mat-card>
</div>

<mat-divider></mat-divider>


<div class="sen" >Some of our partnerships</div>
<div class="logos-container">
    <mat-card class="lecture-card">
        <img mat-card-image src="assets/pictures/pic1.png"  alt="school logo Thumbnail" class="logo-thumbnail">
      </mat-card>

      <mat-card class="lecture-card">
        <img mat-card-image src="assets/pictures/pic2.png"  alt="school logo Thumbnail" class="logo-thumbnail">
      </mat-card>

      <mat-card class="lecture-card">
        <img mat-card-image src="assets/pictures/pic3.png"  alt="school logo Thumbnail" class="logo-thumbnail">
      </mat-card>

      <mat-card class="lecture-card">
        <img mat-card-image src="assets/pictures/pic4.png"  alt="school logo Thumbnail" class="logo-thumbnail">
      </mat-card>

      <mat-card class="lecture-card">
        <img mat-card-image src="assets/pictures/pic5.png"  alt="school logo Thumbnail" class="logo-thumbnail">
      </mat-card>
</div>

<div class="footer"><span>chaya.etrog</span></div>